<p>Welcome to the TODO / Task Management! A simple SPA example, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core 3.1</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> runing on Azure AppService (Linux-based).</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code.</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling.</li>
  <li><a href='https://www.microsoft.com/en-ca/sql-server/sql-server-2019/'>Azure SQL Server 2019</a> for persisting data.</li>

</ul>
<p>Architecture &Aacute; Technologies:</p>
<ul>
  <li><strong>Light Version of DDD CQRS</strong> without Aggregation pattern.</li>
  <li><strong>Data Migration with EF 5</strong>.</li>
  <li><strong>Repository Pattern</strong>.</li>
  <li><strong>Mediat Pattern (MediatR)</strong>.</li>
  <li><strong>Swagger</strong>.</li>
  <li><strong>Automapper</strong>.</li>
  <li><strong>FluentValidation</strong>.</li>
</ul>

<ul>
  <li>To see the list of tasks click, <a [routerLink]="['/my-tasks']">here</a> or select "My Tasks" from the top nav bar.</li>
  <li>To see the list of api in swagger click, <a href='swagger'>here</a>.</li>
</ul>
