<p>Welcome to the TODO / Task Management! A simple SPA example, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core 3.1</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> runing on Azure AppService(linux-based)</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  <li><a href='https://www.microsoft.com/en-ca/sql-server/sql-server-2019/'>Azure SQL Server 2019</a> for persiting data</li>

</ul>
<p>Architecture:</p>
<ul>
  <li><strong>DDD CQRS</strong> without Aggregation pattern.</li>
  <li><strong>Data Base Migration with EF 5</strong>.</li>
  <li><strong>Repository Pattern</strong>.</li>
  <li><strong>Swagger API Documention</strong>.</li>
</ul>

<ul>
  <li>To see the list of task click <a href='fetch-data'>here</a> or select "My Task" from nav bar.</li>
  <li>To see the list of api in swagger click <a href='swagger'>here</a>.</li>
</ul>
